@charset "UTF-8";

*{
	margin: 0px; padding: 0px; border: 0px;
}

a{
	text-decoration: none; /*밑줄 제거*/
	
}
li{
	list-style-type: none;	/*리스트 표시 제거*/
	
}

#header{
	width: 100%;	
	border: 1px red solid;
	/*자식 태그에 크기가 맞춰지기에 height 설정 안해도됨*/
}

#header > .gnb{ /*ul이 옆으로 붙는게아니니까 height 주지않아도 됨*/
	width: 100%; background-color: #353535;
	border: 0px blue solid;
}

#header > .gnb > ul{
	width: 1000px; height: 30px; /*부모가 높이를 가지고 있으면 자식태그가 옆으로 붙어도 오버플로 안남*/
	margin: 0px auto; line-height: 30px;
	border: 0px blue solid;
}
#header > .gnb li {
	float: left; margin-left: 50px; font-size: 0.9em;
	
}
#header > .gnb a {
	color: #FFFFFF;	
}
#header > .logo{
	width: 200px; height: 100px;
	border: 1px solid gray; margin: 70px auto; /*auto는 왼쪽 오른쪽*/
	text-align: center; line-height: 100px;	/*자식은 텍스트*/
}
#header > .hit_menu > ul{
	width: 1000px; border: 0px solid blue;
	margin: 0px auto; overflow: hidden;	
}

#header > .hit_menu li {
	float: right; width: 100px; height: 45px;
	border: 1px solid #CCCCCC;
	border-right-width: 0px;
	text-align: center;
		
}


#header > .hit_menu li:nth-child(1){
	border-right-width: 1px;
	border-radius: 0px 10px 10px 0px;
}
#header > .hit_menu li:nth-child(4){
	border-radius: 10px 0px 0px 10px;
}
#header > .hit_menu a{
	color: #282828;
	font-size: 1.1em;
	line-height: 45px;	
}

#header > .lnb {
	width: 100%; border: 1px solid #CCCCCC;
	border-top-style: dashed; margin-top: 5px;
	
}
#header > .lnb > ul{
	width: 800px; margin: 0px auto; height:50px; /*자식태그 옆으로 붙이기전에 높이 준다*/
	border: 0px solid blue;
}
#header > .lnb li{
	width: 100px; float: left;
	text-align: center; line-height: 50px;	
}
#header > .lnb a{
	color: %282828; font-size: 1.1em;
}
