@charset "UTF-8";

#content{
	width:1000px; border: 1px solid red;
	margin: 5px auto;
}
#content > .section1{
	width:1000px; border: 0px solid blue;
	overflow: hidden;	
}
#content .slide_banner, #content .side_banner{
	height: 400px; float: left;
	border: 1px solid #CCCCCC;
	text-align: center; line-height: 400px;
}

#content .slide_banner{
	width: 700px; margin-right: 3px;
}
#content .side_banner{
	width: 286px;
}
#content .hit_product, #content .md_product{
	width: 1000px; margin-top: 5px;
	border: 0px solid blue;
	overflow: hidden; 	
}

#content > .section2 li{
	width: 245px; height: 400px; float: left;
	border: 1px solid #CCCCCC;
	margin-right: 5px; text-align: center;
	line-height: 400px;
	box-sizing: border-box; color: #282828;
	font-size: 1.1em;
	 
}
#content > .section2 a{
	color: #282828; font-size: 1.1em;
}










